body {
    background-color: rgb(226, 246, 138);
    }
    
    h1 {
    text-align: center;
    color: rgb(107, 0, 128);
    margin-left: 20px;
    }
    img{
       text-align: center;
        border: 30px;
    }