body {
    background-color: rgb(226, 246, 138);
    }
    
    h1 {
    text-align: center;
    color: rgb(107, 0, 128);
    margin-left: 20px;
    }
    p{
       text-align: center;
       font-size: x-large;
       font-family: Georgia, 'Times New Roman', Times, serif;
      
    }